{% extends 'base.html.twig' %}

{% block title 'EAZYS-IMMO '%}

{% block body %}
 
{# SLIDER #}
        {{ include ('pages/slider.html.twig') }}

    <div class="text-center">
      <h2>Les derniers biens</h2>

    </div>

    <div class="jumbotron text-center " style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px;">

    <div class="container">


            <div class="card-deck">
            {% for property in properties %}
                  <div class="card">

                   <div class="card-image waves-effect waves-block waves-light">
                      <img class="card-img-top" src="{{ property.image }}" alt="Card image cap">
                   </div>
                    <div class="card-body">
                        <a href="{{path ('property_show', {'id': property.id, 'slug': property.slug}) }}"> {{ property.title }} </a>
                
                        <p class="card-text">{{ property.city }}</p>
                    </div>
                    <div class="card-footer">
                      <div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formatedPrice }}€</div>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="{{ property.image }}" alt="Card image cap">
                    <div class="card-body">
                        <a href="{{path ('property_show', {'id': property.id, 'slug': property.slug}) }}"> {{ property.title }} </a>
                
                        <p class="card-text">{{ property.city }}</p>
                    </div>
                    <div class="card-footer">
                      <div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formatedPrice }}€</div>
                    </div>
                  </div>
            
          {% endfor %}
          
      </div>
    </div>





{% endblock %}